@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;300;400&family=Source+Sans+Pro:wght@300&display=swap');

@tailwind base;

@tailwind components;

@tailwind utilities;

/* @import "react-slideshow-image/dist/styles.css"; */

html,
body {
  @apply h-screen ;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #FFF7F5;
  color: #2A3950;
}

#__next {
  @apply h-screen flex flex-col;
}

a,
a:visited {
  @apply  inline-block text-center align-middle ;
}

.bg-color {
  background: black;
}


 .menu {
  font-size: 22px;
  color: #3f3d56;
}

 .menu.open {
  position: fixed;
  z-index: 2;
  right: 3rem;
}

 .menu.open + nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.9);
}

.border-color{
  border: 1px solid #878F9B;
}

.border-shadow{
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
}



